@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #efd3df;
  height: 90px;
  width: 100%;
}
header .navbar {
  background-color: #efd3df;
  padding-top: 25px;
}

.carousel {
  margin-top: 90px;
}
.carousel .carousel__products {
  background-color: #f3e2ea;
}
.carousel .carousel__products .card-group {
  gap: 20px;
}
.carousel .carousel__products .card-group .btn__add {
  background-color: #efd3df;
}
.carousel .carousel__select {
  background-color: #f3e2ea;
}
.carousel .carousel__select .card-group {
  gap: 20px;
}
.carousel .carousel__select .card-group .form-select {
  display: block;
  padding: 5px 7px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.modal__carousel .modal-header {
  background-color: #efd3df;
}
.modal__carousel .modal-footer .button__purchase {
  background-color: #efd3df;
}

@media screen and (max-width: 992px) {
  .carousel__products .card-group {
    gap: 0 !important;
  }
  .carousel__products .card-group .card {
    width: 48%;
    margin: 5px;
    flex: unset;
  }
}
.table__cart td {
  vertical-align: middle;
}
.table__cart img {
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}
.table__cart .quantity__button {
  margin: 0 4px;
  padding: 2px 6px;
  border: none;
  background-color: transparent;
}

.table.dataTable > thead > tr > th:not(.sorting_disabled), .table.dataTable > thead > tr > td:not(.sorting_disabled) {
  padding-right: 30px;
}
.table.dataTable > thead > tr > th:active, .table.dataTable > thead > tr > td:active {
  outline: none;
}
.table.dataTable > thead .sorting, .table.dataTable > thead .sorting_asc, .table.dataTable > thead .sorting_desc, .table.dataTable > thead .sorting_asc_disabled, .table.dataTable > thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}
.table.dataTable > thead .sorting::before, .table.dataTable > thead .sorting_asc::before, .table.dataTable > thead .sorting_desc::before, .table.dataTable > thead .sorting_asc_disabled::before, .table.dataTable > thead .sorting_desc_disabled::before {
  right: 1em;
  content: "↑";
}
.table.dataTable > thead .sorting:before, .table.dataTable > thead .sorting:after, .table.dataTable > thead .sorting_asc:before, .table.dataTable > thead .sorting_asc:after, .table.dataTable > thead .sorting_desc:before, .table.dataTable > thead .sorting_desc:after, .table.dataTable > thead .sorting_asc_disabled:before, .table.dataTable > thead .sorting_asc_disabled:after, .table.dataTable > thead .sorting_desc_disabled:before, .table.dataTable > thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 0.9em;
  display: block;
  opacity: 0.3;
}
.table.dataTable > thead .sorting_asc:before, .table.dataTable > thead .sorting_desc:after {
  opacity: 1;
}
.table.dataTable > thead .sorting:after, .table.dataTable > thead .sorting_asc:after, .table.dataTable > thead .sorting_desc:after, .table.dataTable > thead .sorting_asc_disabled:after, .table.dataTable > thead .sorting_desc_disabled:after {
  right: 0.5em;
  content: "↓";
}
.table.dataTable > thead .sorting:before, .table.dataTable > thead .sorting:after, .table.dataTable > thead .sorting_asc:before, .table.dataTable > thead .sorting_asc:after, .table.dataTable > thead .sorting_desc:before, .table.dataTable > thead .sorting_desc:after, .table.dataTable > thead .sorting_asc_disabled:before, .table.dataTable > thead .sorting_asc_disabled:after, .table.dataTable > thead .sorting_desc_disabled:before, .table.dataTable > thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 0.9em;
  display: block;
  opacity: 0.3;
}
.table.table-bordered.dataTable th,
.table.table-bordered.dataTable td {
  border-left-width: 0;
}/*# sourceMappingURL=style.css.map */