<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PV's Phone | Store</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Vy gan vao -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../css/style.css" />
  </head>
  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <!-- HEADER -->
    <header class="fixed-top">
      <nav class="navbar navbar-expand-lg navbar-light container">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#">WELCOME TO PV's PHONE</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active mx-5">
              <a class="nav-link" href="#">STORE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../admin/views/admin.html"
                >ADMIN PORTAL</a
              >
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button
              id="showCart"
              class="btn btn-outline-dark my-2 my-sm-0"
              data-toggle="modal"
              data-target="#cartModal"
              type="button"
            >
              <i class="fa fa-cart-plus"> CART </i>
            </button>
          </form>
        </div>
      </nav>
    </header>

    <!-- CAROUSEL -->
    <section class="carousel">
      <div class="carousel__select">
        <div class="card-group container pt-5">
          <select
            class="form-select w-25"
            id="selectList"
            onchange="selectTypeChange()"
          >
            <option value="">All Brands</option>
            <option value="Apple">Apple</option>
            <option value="Samsung">Samsung</option>
          </select>
        </div>
      </div>
      <div class="carousel__products">
        <div class="card-group container py-5" id="productCards"></div>
      </div>
    </section>

    <!-- Vy gan bootstrap show modal -->
    <div
      class="modal fade modal__carousel"
      id="cartModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              <i class="fa fa-cart-plus"> CART </i>
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table__cart">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Products</th>
                  <th scope="col">Image</th>
                  <th>Quantity</th>
                  <th scope="col">Price</th>
                  <th scope="col" id="delete"></th>
                </tr>
              </thead>

              <tbody id="tbodyCart"></tbody>

              <tfoot>
                <tr>
                  <td colspan="4">Total</td>
                  <td id="totalPrice"></td>
                </tr>
              </tfoot>
            </table>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn button__purchase" onclick="payCart()">Purchase</button>
          </div>
        </div>
      </div>
    </div>

    <!-- FONT AWESOME -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../models/ProductCart.js"></script>
    <script src="../models/Product.js"></script>
    <script src="../services/productAPI.js"></script>
    <script src="../controllers/main.js"></script>
  </body>
</html>
