<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PV's Phone | Store</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Vy gan vao -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../css/style.css" />
  </head>
  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <!-- HEADER -->
    <header class="fixed-top">
      <nav class="navbar navbar-expand-lg navbar-light container">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#">WELCOME TO PV's PHONE</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active mx-5">
              <a class="nav-link" href="#">STORE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../admin/view/admin.html"
                >ADMIN PORTAL</a
              >
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button
              id="showCart"
              class="btn btn-outline-dark my-2 my-sm-0"
              data-toggle="modal"
              data-target="#cartModal"
              type="button"
            >
              <i class="fa fa-cart-plus"> CART </i>
            </button>
          </form>
        </div>
      </nav>
    </header>

    <!-- CAROUSEL -->
    <section class="carousel">
      <div class="carousel__products">
        <div class="card-group container py-5" id="productCards">
          <!-- <div class="card">
            <img
              class="card-img-top py-3"
              src="./img/Galaxy_Note_10_Pink.jpeg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Samsung Note 10</h5>
              <p class="card-text">
                The often business-oriented Note line has been given a fresh
                coat of pink for this iteration, although it has not yet been
                confirmed which markets will receive the rose-colored variant.
              </p>
              <p class="card-text">
                <small class="text-muted">Price: 40.000.000</small>
              </p>
              <button class="btn btn__add">Add to cart</button>
            </div>
          </div>
          <div class="card">
            <img
              class="card-img-top py-3"
              src="./img/iphone-13-pink.jpeg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Iphone 13</h5>
              <p class="card-text">
                The TrueDepth camera system has been reengineered to provide
                more display area, while the redesigned rear camera layout with
                diagonally arranged lenses enables the advanced dual-camera
                system.
              </p>
              <p class="card-text">
                <small class="text-muted">Price: 45.000.000</small>
              </p>
              <button class="btn btn__add">Add to cart</button>
            </div>
          </div>
          <div class="card">
            <img
              class="card-img-top py-3"
              src="./img/0008734_iphone-14-pro-128gb.webp"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Iphone 14</h5>
              <p class="card-text">
                The TrueDepth camera system has been reengineered to provide
                more display area, while the redesigned rear camera layout with
                diagonally arranged lenses enables the advanced dual-camera
                system.
              </p>
              <p class="card-text">
                <small class="text-muted">Price: 55.000.000</small>
              </p>
              <button class="btn btn__add">Add to cart</button>
            </div>
          </div> -->
        </div>
      </div>
    </section>

    <!-- Vy gan bootstrap show modal -->
    <div
      class="modal fade modal__carousel"
      id="cartModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              <i class="fa fa-cart-plus"> CART </i>
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table__cart">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Products</th>
                  <th scope="col">Image</th>
                  <th>Quantity</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>

              <tbody id="tbodyCart">
                <tr>
                  <td scope="row">1</td>
                  <td>Iphone 13</td>
                  <td>
                    <img src="./img/iphone-13-pink.jpeg" alt="" />
                  </td>
                  <td>
                    <div
                      class="d-flex align-items-center justify-content-center"
                    >
                      <button class="quantity__button">-</button>
                      1
                      <button class="quantity__button">+</button>
                    </div>
                  </td>
                  <td>45.000.000</td>
                </tr>
              </tbody>

              <tfoot>
                <tr>
                  <td colspan="4">Total</td>
                  <td>45.000.000</td>
                </tr>
              </tfoot>
            </table>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn button__purchase">Purchase</button>
          </div>
        </div>
      </div>
    </div>

    <!-- FONT AWESOME -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../models/ProductCart.js"></script>
    <script src="../models/Product.js"></script>
    <script src="../services/productAPI.js"></script>
    <script src="../controllers/main.js"></script>
  </body>
</html>
