table {
    &.dataTable {
        &>thead .sorting,
        &>thead .sorting_asc,
        &>thead .sorting_desc,
        &>thead .sorting_asc_disabled,
        &>thead .sorting_desc_disabled {
            cursor: pointer;
            position: relative;
        }

        &>thead .sorting::before,
        &>thead .sorting_asc::before,
        &>thead .sorting_desc::before,
        &>thead .sorting_asc_disabled::before,
        &>thead .sorting_desc_disabled::before {
            right: 1em;
            content: "↑";
        }
        
        &>thead .sorting_asc::before,
        &>thead .sorting_desc::after {
            opacity: 1;
        }

        &>thead>tr>th:not(.sorting_disabled),
        &>thead>tr>td:not(.sorting_disabled) {
            padding-right: 30px;
        }

        &>thead>tr>th:active,
        &>thead>tr>td:active {
            outline: none;
        }

        &>thead .sorting::after,
        &>thead .sorting_asc::after,
        &>thead .sorting_desc::after,
        &>thead .sorting_asc_disabled::after,
        &>thead .sorting_desc_disabled::after {
            right: 0.5em;
            content: "↓";
        }

        &>thead .sorting::before,
        &>thead .sorting::after,
        &>thead .sorting_asc::before,
        &>thead .sorting_asc::after,
        &>thead .sorting_desc::before,
        &>thead .sorting_desc::after,
        &>thead .sorting_asc_disabled::before,
        &>thead .sorting_asc_disabled::after,
        &>thead .sorting_desc_disabled::before,
        &>thead .sorting_desc_disabled::after {
            position: absolute;
            bottom: 0.9em;
            display: block;
            opacity: 0.3;
        }
    }

    &.table-bordered.dataTable {
        & th,
        td {
            border-left-width: 0;
        }
    }
}