.carouselAd {
    margin-top: 5rem;
    background-color: $color-pink;

    & .carouselAd__content {

        & .card__header {
            margin: 2rem;
            color: $color-pink-light;

            & h1 {
                // font-size: 4rem; 
                text-transform: uppercase;
            }
        }

        & .card__body {
            #btnAddProduct {
                background-color: $bg-color-pink-dark;
                color: black;
    
            }

            #tableProduct {
                overflow-x: auto;
            }
        }
        
    }

    & .carouselAd__modal {
        & .modal-header {
            background-color: $bg-color-pink-dark;
        }

        & .modal-footer {
            .btn__addProduct, .btn__updateProduct {
                background-color: $bg-color-pink-dark;
            }
        }
    }
}

//Man hinh desktop tu 992px tro len
@include responsive("lg") {
    .carouselAd {
        & .carouselAd__content {

            & .card__header {
                & h1 {
                    font-size: 2.5rem; 
                }
            }
        }
    }
}