.carousel {
  margin-top: 90px;

  & .carousel__products {
    background-color: $color-pink;

    & .card-group {
      margin: auto;
      row-gap: 10px;
      & .btn__add {
        background-color: $bg-color-pink-dark;
      }
    }
  }

  & .carousel__select {
    background-color: $color-pink;

    & .card-group {
      gap: 20px;

      & .form-select {
        display: block;
        padding: 5px 7px;
        line-height: 1.5;
        border-radius: 5px;
        border: 1px solid #ced4da;
      }
    }
  }
}

.modal__carousel {
  .modal-header {
    background-color: $bg-color-pink-dark;
  }

  .modal-footer .button__purchase {
    background-color: $bg-color-pink-dark;
  }
}

//Man hinh desktop tu 992px tro len
@include responsive("lg") {
  .carousel__products {
    .card-group {
      gap: 0 !important;

      .card {
        width: 48%;
        margin: 5px;
        flex: unset;
      }
    }
  }
}
