.carousel {
  margin-top: 90px;

  & .carousel__products {
    background-color: $color-pink;

    & .card-group {
      gap: 20px;

      & .btn__add {
        background-color: $bg-color-pink-dark;
      }
    }
  }
}

.modal__carousel {
  .modal-header {
    background-color: $bg-color-pink-dark;
  }

  .modal-footer .button__purchase {
    background-color: $bg-color-pink-dark;
  }
}

//Man hinh desktop tu 992px tro len
@include responsive("lg") {
  .carousel__products {
    .card-group {
      gap: 0 !important;

      .card {
        width: 48%;
        margin: 5px;
        flex: unset;
      }
    }
  }
}