//Responsive
@mixin responsive($screen) {
  @if (map-has-key($map: $breakpoints, $key: $screen)) {
    $width: map-get(
      $map: $breakpoints,
      $key: $screen,
    );
    @media screen and (max-width: $width) {
      @content;
    }
  }
}
