//Header
$header-height: 90px;

//Color
$color-white: #fff;
$color-gray: #99979c;
$color-pink: #f3e2ea;
$color-pink-dark: #efd3df;

$color-pink-light: #f752ba;

//Bg-color
$bg-color-pink-dark: #efd3df;

//Responsive
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
